<%- include('includes/head.ejs')%>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    
    <%- include('includes/navigation.ejs')%>
    <main>
        <section class="section_course">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                <h2>การโปรแกรมคอมพิวเตอร์</h2>
                <ol>
                    <li><a href="#">หน้าแรก</a></li>
                    <li>การโปรแกรมคอมพิวเตอร์</li>
                </ol>
                </div>
            </div>
        </section>
        <section class="section_curriculum">
            <div class="container d-flex flex-column p-5">
                    <div class="col mx-auto">
                        <div><strong>ชื่อสถาบันอุดมศึกษา :</strong> มหาวิทยาลัยเกษตรศาสตร์</div>
                        <div><strong>วิทยาเขต/คณะ/ภาควิชา :</strong> วิทยาเขตบางเขน คณะวิทยาศาสตร์ ภาควิชาวิทยาการคอมพิวเตอร์</div>
                        <div><strong> รหัสและชื่อหลักสูตร :</strong></div>
                        <div class="tab">
                            <div><strong>รหัสหลักสูตร</strong> 25300021100231</div>
                            <div><strong>ภาษาไทย</strong> หลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาวิทยาการคอมพิวเตอร์</div>
                            <div><strong>ภาษาอังกฤษ</strong> Bachelor of Science Program in Computer Science</div>
                        </div>
                        <div><strong>ชื่อปริญญาและสาขาวิชา :</strong></div>
                        <div class="tab">
                            <div><strong>ชื่อเต็ม</strong> วิทยาศาสตรบัณฑิต (วิทยาการคอมพิวเตอร์)</div>
                            <div><strong>ชื่อย่อ</strong> วท.บ. (วิทยาการคอมพิวเตอร์)</div>
                            <div><strong>ชื่อเต็ม</strong> Bachelor of Science (Computer Science)</div>
                            <div><strong>ชื่อย่อ</strong> B.S. (Computer Science)</div>
                        </div>

                        <div><strong>จำนวนหน่วยกิตที่เรียนตลอดหลักสูตร :</strong> ไม่น้อยกว่า 128 หน่วยกิต</div>

                        <div><strong>รูปแบบของหลักสูตร :</strong></div>
                        <div class="tab">
                            <div>
                                <strong>1. รูปแบบและประเภทของหลักสูตร</strong>
                                <div></div>- หลักสูตรระดับปริญญาตรี 4 ปี(ทางวิชาการ)
                                <div></div>- ตามมาตรฐานคุณวุฒิระดับปริญญาตรีสาขาคอมพิวเตอร์พ.ศ. 2552
                            </div>
                            <div><strong>2. ภาษาที่ใช้</strong> ภาษาไทยและภาษาอังกฤษ</div>
                            <div><strong>3. การรับเข้าศึกษา</strong> รับทั้งนิสิตไทยและนิสิตต่างชาติ</div>
                            <div><strong>4. ความร่วมมือกับสถาบันอื่น</strong> เป็นหลักสูตรเฉพาะของสถาบัน</div>
                            <div><strong>5. การให้ปริญญาแก่ผู้สำเร็จการศึกษา</strong> ให้ปริญญาเพียงสาขาวิชาเดียว</div>
                        </div>
                        <div><strong>สถานภาพของหลักสูตร :</strong></div>
                        <div class="tab">
                            <div><strong>●</strong> หลักสูตรปรับปรุง กำหนดเปิดสอน เดือนสิงหาคม พ.ศ. 2560</div>
                            <div><strong>●</strong> ปรับปรุงจากหลักสูตร ชื่อ หลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาวิทยาการคอมพิวเตอร์</div>
                            <div><strong>●</strong> เริ่มใช้มาตั้งแต่ปีการศึกษา 2528</div>
                            <div><strong>●</strong> ปรับปรุงครั้งสุดท้าย เมื่อปีการศึกษา 2555</div>
                        </div>
                        <div><strong>การเผยแพร่หลักสูตร :</strong> ปี พ.ศ. 2562</div>
                        <div><strong>อาชีพที่สามารถประกอบได้หลังสำเร็จการศึกษา :</strong></div>
                        <div class="tab">
                            <div>1. นักพัฒนาซอฟต์แวร์ (Software Developer)</div>
                            <div>2. นักวิเคราะห์ระบบ (System Analyst)</div>
                            <div>3. นักทดสอบซอฟต์แวร์ (Software Tester)</div>
                            <div>4. นักออกแบบเว็บ (Web Designer)</div>
                            <div>5. ผู้บริหารเว็บ (Webmaster)</div>
                            <div>6. ผู้ประสานงานโครงการด้านเทคนิค (Technical Project Coordinator)</div>
                            <div>7. วิศวกรระบบ (System Engineer)</div>
                            <div>8. วิศวกรเครือข่าย (Network Engineer)</div>
                            <div>9. เจ้าหน้าที่สนับสนุนด้านเทคนิคซอฟต์แวร์ (Software Technical Support)</div>
                            <div>10. เจ้าหน้าที่ช่วยเหลือด้านเทคนิค (Technical Help Desk)</div>
                            <div>11. ผู้เชี่ยวชาญเฉพาะผลิตภัณฑ์(Product Specialist)</div>
                            <div>12. นักบริหารฐานข้อมูล (Database Administrator)</div>
                            <div>13. นักวิชาการคอมพิวเตอร์</div>
                            <div>14. ผู้ประกอบการ (Entrepreneur)</div>
                        </div>
                    </div>
                </div>
        </section>
    </main>
    <%- include('includes/footer.ejs')%>
    <%- include('includes/script.ejs')%>
</body>
</html>