<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link type="image/png" sizes="32x32" rel="icon" href="https://sv1.picz.in.th/images/2022/10/15/pLKK39.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../public/css/main.css" rel="stylesheet">
    <link href="../public/css/home.css" rel="stylesheet">
    <title>home</title>
</head>

<body>
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">
            <div class="navbar-brand">
                <a href="/">
                <img src="../public/image/logo.png" alt="Logo" class="img-fluid">
                <h3>วิทยาการคอมพิวเตอร์</h3>
                </a>
            </div>
            <nav id="navbar" class="navbar">
                <ul>
                <li><a class="nav-link scrollto" href="/">หน้าแรก</a></li>
                <li><a class="nav-link scrollto" href="/courses">รายวิชาที่เปิดสอน</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#">
                    <strong>บุคลากร</strong>
                    </a>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">คณาจารย์</a></li>
                    <li><a class="dropdown-item" href="#">เฉพาะเจ้าหน้าที่</a></li>
                    </ul> 
                </li>
                <li><a class="nav-link" href="#contact">ติดต่อ</a></li>
                <!-- <li><a class="bt_login" href="#about">เฉพาะเจ้าหน้าที่</a></li> -->
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="section_course">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                <h2>การโปรแกรมคอมพิวเตอร์</h2>
                <ol>
                    <li><a href="#">หน้าแรก</a></li>
                    <li>การโปรแกรมคอมพิวเตอร์</li>
                </ol>
                </div>
            </div>
        </section>
        <section class="section_curriculum">
            <div class="container">
                    <div class="row d-inline-flex justify-content-center">
                        <strong>ชื่อสถาบันอุดมศึกษา :</strong> มหาวิทยาลัยเกษตรศาสตร์
                        <br><strong>วิทยาเขต/คณะ/ภาควิชา :</strong> วิทยาเขตบางเขน คณะวิทยาศาสตร์ ภาควิชาวิทยาการคอมพิวเตอร์
                        <div><strong> รหัสและชื่อหลักสูตร :</strong></div>
                        <div class="tab">
                            <strong>รหัสหลักสูตร</strong> 25300021100231
                            <br><strong>ภาษาไทย</strong> หลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาวิทยาการคอมพิวเตอร์
                            <br><strong>ภาษาอังกฤษ</strong> Bachelor of Science Program in Computer Science
                        </div>
                        <div><strong>ชื่อปริญญาและสาขาวิชา :</strong></div>
                        <div class="tab">
                            <strong>ชื่อเต็ม</strong> วิทยาศาสตรบัณฑิต (วิทยาการคอมพิวเตอร์)
                            <br><strong>ชื่อย่อ</strong> วท.บ. (วิทยาการคอมพิวเตอร์)
                            <br><strong>ชื่อเต็ม</strong> Bachelor of Science (Computer Science)
                            <br><strong>ชื่อย่อ</strong> B.S. (Computer Science)
                        </div>

                        <div><strong>จำนวนหน่วยกิตที่เรียนตลอดหลักสูตร :</strong> ไม่น้อยกว่า 128 หน่วยกิต</div>

                        <div><strong>รูปแบบของหลักสูตร :</strong></div>
                        <div class="tab">
                            <div>
                                <strong>1. รูปแบบและประเภทของหลักสูตร</strong>
                                <br>- หลักสูตรระดับปริญญาตรี 4 ปี(ทางวิชาการ)
                                <br>- ตามมาตรฐานคุณวุฒิระดับปริญญาตรีสาขาคอมพิวเตอร์พ.ศ. 2552
                            </div>
                            <div><strong>2. ภาษาที่ใช้</strong> ภาษาไทยและภาษาอังกฤษ</div>
                            <div><strong>3. การรับเข้าศึกษา</strong> รับทั้งนิสิตไทยและนิสิตต่างชาติ</div>
                            <div><strong>4. ความร่วมมือกับสถาบันอื่น</strong> เป็นหลักสูตรเฉพาะของสถาบัน</div>
                            <div><strong>5. การให้ปริญญาแก่ผู้สำเร็จการศึกษา</strong> ให้ปริญญาเพียงสาขาวิชาเดียว</div>
                        </div>
                        <div><strong>สถานภาพของหลักสูตร :</strong></div>
                        <div class="tab">
                            <div><strong>●</strong> หลักสูตรปรับปรุง กำหนดเปิดสอน เดือนสิงหาคม พ.ศ. 2560
                            <br><strong>●</strong> ปรับปรุงจากหลักสูตร ชื่อ หลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาวิทยาการคอมพิวเตอร์
                            <br><strong>●</strong> เริ่มใช้มาตั้งแต่ปีการศึกษา 2528
                            <br><strong>●</strong> ปรับปรุงครั้งสุดท้าย เมื่อปีการศึกษา 2555</div>
                        </div>
                        <div><strong>การเผยแพร่หลักสูตร :</strong> ปี พ.ศ. 2562</div>
                        <div><strong>อาชีพที่สามารถประกอบได้หลังสำเร็จการศึกษา :</strong></div>
                        <div class="tab">
                            1. นักพัฒนาซอฟต์แวร์ (Software Developer)
                            <br>2. นักวิเคราะห์ระบบ (System Analyst)
                            <br>3. นักทดสอบซอฟต์แวร์ (Software Tester)
                            <br>4. นักออกแบบเว็บ (Web Designer)
                            <br>5. ผู้บริหารเว็บ (Webmaster)
                            <br>6. ผู้ประสานงานโครงการด้านเทคนิค (Technical Project Coordinator)
                            <br>7. วิศวกรระบบ (System Engineer)
                            <br>8. วิศวกรเครือข่าย (Network Engineer)
                            <br>9. เจ้าหน้าที่สนับสนุนด้านเทคนิคซอฟต์แวร์ (Software Technical Support)
                            <br>10. เจ้าหน้าที่ช่วยเหลือด้านเทคนิค (Technical Help Desk)
                            <br>11. ผู้เชี่ยวชาญเฉพาะผลิตภัณฑ์(Product Specialist)
                            <br>12. นักบริหารฐานข้อมูล (Database Administrator)
                            <br>13. นักวิชาการคอมพิวเตอร์
                            <br>14. ผู้ประกอบการ (Entrepreneur)
                        </div>
                    </div>
                </div>
        </section>
    </main>

    <footer id="footer">
        <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-lg-6 text-lg-left text-center">
            <div class="copyright">
                &copy; 2022 | <strong>วิทยาการคอมพิวเตอร์</strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="/">MaiWaiLaw</a>
            </div>
            </div>
        </div>
        </div>
    </footer>
    
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="fa-solid fa-angle-up"></i></a>
    
    <script src="https://kit.fontawesome.com/84b6950ec0.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="../public/js/main.js"></script>
</body>
</html>