
#notfound {
    position: relative;
    height: 100vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 520px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
}

.notfound-404 {
    height: 190px;
}

.notfound-404 > h1 {
    font-size: 146px;
    font-weight: 700;
    margin: 0px;
    color: #232323;
}

.image_cry {
    display: inline-block;
    margin-bottom: 1rem;
    width: 120px;
    height: 120px;
    background-size: cover;
    transform: scale(1.4);
    z-index: -1;
}

.notfound > h2 {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    color: #232323;
}

.notfound > p {
    color: #787878;
    font-weight: 300;
}

.notfound > a {
    display: inline-block;
    padding: 12px 40px;
    font-weight: 700;
    background-color: #f99827;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.notfound a:hover {
    opacity: 0.8;
}
